<!DOCTYPE html>
<html lang="es">

    <!-- HEAD -->
    <%- include('./partials/head') %>

  <body>

    <style>
      .marcas{
        max-width: 1000px;
        margin: auto;
      }
    </style>
    <!-- HEADER -->
    <%- include('./partials/header')%>

    <!-- MAIN -->
    <main>
    <!--  -->
   

      <!-- COLECCION -->
      <%- include('./01coleccion')%>

      <!-- MARCAS -->
      <div class="marcas">
        <%- include('./02marcas')%>
      </div>

      <!-- JUGUETE DEL DIA -->
      <%- include('./03juguetedeldia')%>

      <!-- LO MAS BUSCADO -->
      <%- include('./04lomasbuscado')%>

      <!-- NOVEDADES -->
      <%- include('./05novedades')%>
      
      <!-- MOCHILA -->
      <%- include('./06mochilas')%>

      <!-- PROMOS -->
      <%- include('./07promos')%>

      <!-- RECOMENDAMOS -->
      <%- include('./08recomendamos')%>
      
    <!--  -->
    </main>
    
    <!-- FOOTER -->
    <%- include('./partials/footer')%>


    

  </body>
</html>
